/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2018, 01:25:00 AM
    Author     : A. David Rodríguez C. <duvid9320@gmai.com>
test change master fetched
*/


div.location-container{
    padding-bottom: 10%;
    padding-top: 10%;
}
*.mono-italic-16{
    font-family: 'SpaceMono-Italic';
    font-size: 16pt;
}

img.img-responsive{
    width: 100%;
    height: auto;
}

div.promo-container{
    padding: 3% 3%;
    color: white;
}

div.promo-container:nth-child(odd){
    background: royalblue;
}

div.promo-container:nth-child(even){
    background: navy;   
}

h1.promo-title{
    color: red;
    font-variant: small-caps;
    font-size: 24pt;
}

div.descripcion{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

span.descripcion{
    text-align: justify;
    font-size: 12pt;
    font-family: "SpaceMono-Italic";
}

.img-producto{
    position: relative;
    padding: 2px;
}

.btn-add-cart{
    color:white;
}

.btn-container{
    display: inline-block;
    vertical-align: middle;
}

.btn-container a.btn-add-cart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img-producto .btn-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 0%;
}

.img-producto .btn-container:hover{  
    font-size: 500%;
}

@font-face {
    font-family: 'SpaceMono-Italic'; /*a name to be used later*/
    src: url('../fonts/SpaceMono-Italic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SpaceMono-Bold'; /*a name to be used later*/
    src: url('../fonts/SpaceMono-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SpaceMono-BoldItalic'; /*a name to be used later*/
    src: url('../fonts/SpaceMono-BoldItalic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SpaceMono-Regular'; /*a name to be used later*/
    src: url('../fonts/SpaceMono-Regular.ttf'); /*URL to font*/
}
